<%= form_with(model: student_note, local: true) do |form| %>
  <% if student_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_note.errors.count, "error") %> prohibited this student_note from being saved:</h2>

      <ul>
      <% student_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.number_field :student_id, id: :student_note_student_id %>
  </div>

  <div class="field">
    <%= form.label :note_one %>
    <%= form.text_field :note_one, id: :student_note_note_one %>
  </div>

  <div class="field">
    <%= form.label :note_two %>
    <%= form.text_field :note_two, id: :student_note_note_two %>
  </div>

  <div class="field">
    <%= form.label :note_three %>
    <%= form.text_field :note_three, id: :student_note_note_three %>
  </div>

  <div class="field">
    <%= form.label :report_notes %>
    <%= form.text_area :report_notes, id: :student_note_report_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
