<%= form_with(model: student_note, local: true) do |form| %>
  <% if student_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_note.errors.count, "error") %> prohibited this student_note from being saved:</h2>

      <ul>
      <% student_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <div class="field">
      <%= form.label :student_id %>
      <%= form.collection_select :student_id, Student.all.order('name ASC'), :id, :name, {},:class => "form-control" %>
    </div>

    <div class="field">
      <%= form.label :note_one %>
      <%= form.text_field :note_one, id: :student_note_note_one, :class => "form-control" %>
    </div>

    <div class="field">
      <%= form.label :note_two %>
      <%= form.text_field :note_two, id: :student_note_note_two, :class => "form-control" %>
    </div>

    <div class="field">
      <%= form.label :note_three %>
      <%= form.text_field :note_three, id: :student_note_note_three, :class => "form-control" %>
    </div>

    <div class="field">
      <%= form.label :report_notes %>
      <%= form.text_area :report_notes, id: :student_note_report_notes, :class => "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
    
<% end %>
